<div>
<p class="line"></p>

<h1 style="text-align:center;margin-bottom:20px;margin-top:25px;font-size:18px;">fish组件2</h1>   

<p class="show_data"><span>选中了:</span>  <span class="checked">{{props.data}}</span>  </p>

</div>