


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;IE=11;IE=10;IE=9" />
    <meta charset="UTF-8"></meta>
    <title>fish-redux</title>
   <!--  <link rel="stylesheet"
          th:href="@{/public/css/reset-oper.css}"/>
    <link rel="stylesheet"
          th:href="@{/public/css/reset-con.css}"/>
    <link rel="stylesheet" th:href="@{vendor/icheck/skins/flat/orange.css}"/> -->
    <link rel="stylesheet" href="fish-desktop/css/fish-desktop-default.min.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
      <script type="text/javascript" src="./js/echarts.common.min.js">
      </script> 
   <script type="text/javascript" src="fish-desktop/js/fish-desktop-all.min.ie.js"></script> 
   <script type="text/javascript" src="fish-desktop/js/hbs.js"></script>   
    <!-- <script type="text/javascript" src="fish-desktop/js/fish-desktop-require.js" data-main="main"></script>  -->
      <div class="fish-app"></div>
      <script src="./build/bundle.js"></script>
</body>
</html>